/*mi css*/

body{
  background-color: = blue;
}

.cabecera{
  height: 400px;
  margin: 0px auto;
  border-style: none;
  background-image: url('../imagenes/dos.jpg');
}
.cabecera img{
  border-radius: 50%;
}

.titulo{
 height: 90px;
 margin: 0px;
 border-left: 50px solid #FFCC66;
 border-right: 50px solid #ffcc66;
 border-top: 10px;
 color: white;
 background-color: blue;
}

.texto{
  height:900px;
  margin:10px;
  border: dashed;
  border-left: 100px solid #FFCC66;
  border-right: 100px solid #ffcc66;
  background-color: red;
  
  font-size: 30px;
  font-style: oblique;
  text-align: center;
  border-radius: 50px 50px 0px 0px;
}

h1{
  color: black;
  text-decoration: blink;
}

